.main-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color:#fff
}
.main-page::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 49%);
}
.container{
    z-index: 11;
    display: flex;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}
.page-header{
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: #29130db4;
    padding: 10px;
    width: 250px;
    margin: 40px auto;
    border-radius: 5px;
}
.artbox-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.artboxes{
    flex: 1 0 40%;
    margin: 5px;
    background: #000;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    transform: scale(1);
    transition: 0.4s;
    border-radius: 5px;
}
.artboxes img{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}
.artboxes p{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 10px;
    margin: auto 0;
}
.artboxes:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.4s;
    background: #29130dc6;
}